/* css styles */
.navbar {
  background-color: #1d91c0;
}

.navbar .nav-link:hover {
  color: #edf8b1;
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover {
  color: #edf8b1; /* Adjust the hover color for the brand name if needed */
}

a {
  color: #1d91c0; /* Default link color */
 /* text-decoration: none; /* Remove underline */
}
a:hover {
  color: #0056b3; /* Hover color */
  text-decoration: underline; /* Underline on hover */
}